/*GENERAL*/
* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;  
  font-family: 'Open Sans', sans-serif;
  $base-font-size: 1em;
}

h1 {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 2.9rem;
  font-weight: 700;
  line-height: .8;
  margin: 0;
}

h2 {
  color: #4d4d4d;
  font-size: 2.4rem;
  margin: 20px 0 30px;
}

p {
  color: #4d4d4d;
  font-size: 1rem;
  margin: 0;
  word-break: break-all;
}

.container{
  margin: 0 46px;
}

/*HEADER STYLES*/
header {
  align-items: flex-end;
  background-color: #2b2b2b;
  display: flex;
  height: 160px;
  justify-content: space-between;
  padding: 36px 46px;
}

.menu-icon {
  display: none;
}

.user-login-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  text-align: right;
}

.admin-icon {
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  margin-right: 6px;
  padding: 4px;
}

.fa-caret-down {
  font-size: 1.2rem;
  margin-left: 6px;
  padding: 0;
}

span {
  color: #2790c5;
}

ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 395px;
}

li {
  color: gray;
  list-style-type: none;
}

i {
  color: #2790c5;
  padding: 0 10px 0 0;
}

i:hover,
li:hover,
li:hover i {
  color: white;
}

/*MAIN GRID STYLES*/
.grid-container {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.grid {
  box-shadow: 0 0 6px 2px #888888b5;
  display: grid;
  grid-template-rows: 35% 65%;
  height: 450px;
}

/*TOP CARD SECTION WITH IMAGE*/
.card-top {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 14px;
}

.card1 {
  background-image: url(assets/dolphin.jpg);
}

.card2 {
  background-image: url(assets/sharks.jpg); 
}

.card3 {
  background-image: url(assets/jellyfish.jpg); 
}

.card4 {
  background-image: url(assets/ray.jpg); 
}

.card5 {
  background-image: url(assets/fish.jpg); 
}

.card6 {
  background-image: url(assets/whale.jpg); 
}

.card7 {
  background-image: url(assets/starfish.jpg); 
}

.card8 {
  background-image: url(assets/turtle.jpg); 
}

img {
  height: 50px;
}

.date {
  font-size: 1rem;
}

.view {
  color: white;
  text-align: center;
}

.count {
  font-size: 2.2rem;
}

/*BOTTOM CARD SECTION WITH TEXT */
.card-bottom {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

h3 {
  font-size: 1.3rem;
  line-height: 1;
  margin: 0;
}

h4 {
  font-size: .9rem;
  margin: 0;
}

.web-link {
  align-self: center;
  background-color: #efefef;
  font-size: .7rem;
  padding: 15px;
}

.attachments {
  color: #27b3fe;
  font-size: 2.2rem;
}

.card-text {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 760px) {
  
  header {
    padding: 36px 46px;
  }

  .menu-icon {
    display: block;
    padding: 0 5px;
    font-size: 1.9rem;
  }

  ul {
    display: none;
  } 
}

@media screen and (max-width: 374px) {
  
  .container {
    margin: 20px;
  }

  header {
    padding: 36px 20px;
  }

  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 2.1rem;
    margin: 10px 0 20px;
  }

  p {
    font-size: .9rem;
  }
}



@media screen and (min-width: 1420px) {
  body {
    font-size: $base-font-size*1.5;
  }

  header {
    height: 175px;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 1;
    margin: 0;
  }

  h4 {
    font-size: 1.1rem;
    margin: 0;
  }

  p {
    font-size: 1.1rem;
  }

  ul {
    width: 520px;
  }

  li {
    font-size: 1.2rem;
  }
  
  .grid-container {
    grid-gap: 18px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }

  .user-login-container {
    height: 120px;
  }

  .grid {
    height: 500px;
  }
}


@media screen and (min-width: 1620px) {
  body {
    font-size: $base-font-size*1.5;
  }

   header {
    height: 200px;
  }

  h1 {
    font-size: 3.2rem;
  }
  
  .grid-container {
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }

  .user-login-container {
    height: 130px;
  }

  .grid {
    height: 600px;
  }
}

